*{
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 35px;
    font-family: serif;
}
body{
    text-align: center;
    background: linear-gradient(160deg, rgb(138, 137, 137), black);
}
.container{
    height: 85vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 78vmin;
    width: 78vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    
}
.box{
    width: 25vmin;
    height: 25vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 12vmin;
    color: #b0413c;
    cursor: pointer;
    background-color: #fff;
}

.box:hover {
    /* background-color: #f0f0f0; Hover effect */
    transform: scale(1.05); /* Slight zoom effect */
}


#reset-btn{
    padding: 1.25rem;
    font-size: 1.25rem;
    color: #fff;
    width: 120px;
    border: none;
    background-color: rgb(66, 60, 60);
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    
}


#msg{
    font-size: 6vmin;
    color: #fff;
    margin: 20px 0;
    padding: 18px 20px;
    background-color: rgba(0,0,0,0.6); /* Semi-transparent background */
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);

}
#new-btn{
    padding: 1.25rem;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
}
.head{
    height: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
/* h2{
    margin-top: 10px;
    font-family: serif;
} */
/* .turn1{
    display: none;
}
.turn2{
    display: none;
} */
.winning-box {
    border: 3px solid rgb(180, 19, 19); /* Crimson */
    background-color: rgba(143, 30, 22, 0.7); /* FloralWhite with slight transparency */
}

